*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../images/bgc.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

main .wrapper div>kbd.key{
	height: 4em;
	width: 4em;
	border: 2px solid #33343C;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #000;
	color: white;
	box-shadow: 5px 10px 12px 0px rgba(0,0,0,0.6);
	text-transform: uppercase;
}

main .wrapper div>kbd.key:nth-child(1){
	margin-left: 0;
}

main .wrapper div>kbd.key>button{
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

main .wrapper div>kbd.key:hover>button{
	display: inline-block;
}

main .wrapper div{
	margin-bottom: 20px;
}

main .wrapper div:nth-child(3){
	margin-bottom: 0px;
}

main .wrapper{
	display: inline-block;
	vertical-align: top;
	margin-top: 200px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
}

main{
	text-align: center;
}